@tailwind base;
@tailwind components;
@tailwind utilities;

/* Alegreya // BioRhyme // Montserrat fonts */

body {
  font-family: "Montserrat";
}

.alegreya {
  font-family: "Alegreya";
}

.biorhyme {
  font-family: "BioRhyme";
}

.montserrat {
  font-family: "Montserrat";
}

.container {
  @apply mx-auto py-5 px-5;
}

.transform-xy {
  transform: translate(-50%, -50%);
}
