@tailwind base;
@tailwind components;
@tailwind utilities;

/* Alegreya // BioRhyme // Montserrat fonts */

body {
  font-family: 'Montserrat';
}

.alegreya {
  font-family: 'Alegreya';
}

.biorhyme {
  font-family: 'BioRhyme';
}

.montserrat {
  font-family: 'Montserrat';
}

.container {
  @apply mx-auto py-5 px-5;
}

.transform-xy {
  transform: translate(-50%, -50%);
}

.filter-m {
  backdrop-filter: blur(30px);
}

input {
  outline: none !important;
}

@layer utilities {
  .transition-default {
    @apply transition duration-default;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #8b74ff;
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #373737;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #fff;
  height: 2px;
  border-radius: 10px;
}
